<hr>

<pre id="editor">def ruby_tutorials
  "Welcome to Ruby Tutorials!  This application was created to teach kids ages 8+ basic Ruby coding funamentals.  This application uses real life coding examples that both children and adults can understand."
end

def text_editors
  "Text editors allow you to type out your code and it highlights the text as you go along.  IDEs or integrated development environments are a little different.  They are text editors that compile and debug your code.  Basically it takes what you type in the text editor section and shows you what that equals on the console side. You will have access to multiple text editors and IDEs throughout this site."
end

def register
  "You can register and save the code you practice while going through the lessons.  Your saved code is only available to you.  Feel free to take notes that will help you remember and review the code in the notes section.  If you ever need to go over what you have already done or just want to keep a code reference, you will have access to it as long as you can access your account."
end

def have_fun_coding
  "Please visit our contact page and reach out if you have any ideas on how to make Ruby Tutorials a better experience.  Have Fun Coding!"
end

puts ruby_tutorials
puts text_editors
puts register
puts have_fun_coding

# Feel free to play with the code in this text editor.  It will highlight your code and you will be able to see how a text editor works and how it will give you different highlighting or text color depending on if your code is correct.  Don't worry once you leave this page it will go back to the about page information so have fun.</pre>


<div class="scrollmargin"></div>

<script type="text/javascript">
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/vibrant_ink");
  editor.session.setMode("ace/mode/ruby");
  editor.setAutoScrollEditorIntoView(true);
  editor.setOption("maxLines", 100);
  editor.setOption("minLines", 10);
  editor.getSession().setTabSize(2);
  editor.setHighlightActiveLine(true);
  editor.getSession().setUseSoftTabs(true);
  editor.getSession().setUseWrapMode(true);
</script>

<hr>