<body>
<pre id="editor">def method
  puts "Hello World"
end

method</pre>
<div class="scrollmargin"></div>


<!-- load ace -->
<script src="../src/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/tomorrow_night_bright");
  editor.session.setMode("ace/mode/ruby");
  editor.setAutoScrollEditorIntoView(true);
  editor.setOption("maxLines", 100);
  editor.setOption("minLines", 10);
  editor.getSession().setTabSize(2);
  editor.setHighlightActiveLine(true);
  editor.getSession().setUseSoftTabs(true);
  editor.getSession().setUseWrapMode(true);
</script>

<script src="./show_own_source.js"></script>

</body>
</html>