<hr>

<div class="container">
	<div class="row">
		<div class="card">
			<h4>Credits:</h4>
			<p>
			This application uses an iframe of Open Source components from F.K. Chang.  His work was influences by L. Ng.  You can find the source code of the open source projects used along with license information below. We acknowledge and are grateful to these developers for their contributions to open source.
			</p>

			<p>
			<ul>
				<li>Project: opal-irb https://github.com/fkchang/opal-irb</li>
					<ul>
						<li>Copyright (c) 2013 Forrest K. Chang License (MIT) https://github.com/fkchang/opal-irb/blob/master/LICENSE</li>
					</ul>
				<li>Project: coffeescript-repl https://github.com/larryng/coffeescript-repl</li>
					<ul>
						<li>Copyright (c) 2013, Larry Ng (ng.larry@gmail.com) License (ISC) https://github.com/larryng/coffeescript-repl/blob/master/LICENSE</li>
					</ul>
			</ul>
			</p>
		</div>
	</div>
</div>

<hr>