<head>
<meta charset="utf-8">
<title>Ruby Tutorial for Kids</title>
</head>

<body>

    <hr>

    <div class="jumbotron">
      <h1>Welcome to Ruby Tutorials!!!</h1>
      <p class="lead">This application was made specifically to teach Ruby programming language basics.  You can access lessons at any time.  If you want to be able to save your code and go back to it at a later time please feel free to register with us and create a login.</p>
      <% if logged_in?(:admin, :user) %>
        <a class="btn btn-large btn-secondary" href="/edit">Edit Your Login</a>
        <br>
        <a class="btn btn-large btn-secondary" <%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
      <% else %>
        <a class="btn btn-large btn-secondary" href="/register">Sign Up Today</a>
      <% end %>

    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <h4>What to expect...</h4>
          <p>This tutorial is going to go through the basics of Ruby.  Each lesson will be more and more involved so if you need to read it twice and use the resources available on each page to practice and get more information as you go along.  Please read the about page for more information.  Lets get started!</p>
        
          <h4>What is Software Programming?</h4>
          <p>Software Programming is when computer programs are created in a computer or on a mobile device using different computer languages.  Just like people all over the world can communicate with each other in different spoken languages, software programmers can learn computer languages that will tell the computer what the programmer wants it to do.</p>

          <h4>What do Software Programmers do?</h4>
          <p>Software Progrmmers learn different software languages so they can create programs that can be used all over the world.  Everything from this website to your favorite video game was created by software programmers that learned different programming languages to be able to talk to the computer and create that program.</p>
        </div>
      </div>

       <div class="col-md-6">
        <div class="container">
          <h4>What programming language are we going to focus on?</h4>
          <p>There are A LOT of programming languages out there.  Way too many to name here.  We are going to focus on the Ruby programming language.  The really cool thing is once you learn ruby you can take the concepts learned here and apply them to learning other programming langages.  In software programming your learning options are limitless.</p>
        
          <h4>What is Ruby?</h4>
          <p>Ruby is a programming language. It was created by Yukihiro "Matz" Matsumoto in Japan.  Ruby is an object-oriented programming language.</p>

          <h4>What is Object-Oriented Programming?</h4>
          <p>Object-oriented programming, or OOP, is a way of writing computer programs. Before programmers started using OOP's, most programs were a list of instructions that relied on the memory inside the computer.  OOP is based around objects that talk to/with each other.  In Ruby everything is an object.</p>
      </div>
      </div>
    </div>

    <hr>

</body>
