<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Tutorial for Kids</title>
  </head>

  <body>
    <div class="ruby_image">
      <%= image_tag "ruby_image.jpg", width: 225, height: 225, alt: "Ruby Image"  %>
    </div>
</html>
