<?php

  $comment = null;


  if($_SERVER['Request_Method'] === 'POST' && !empty($_POST['preview-form-comment'])) {
  $comment = $_POST['preview-form-comment'];
}

?>

<!DOCTYPE html>
<html>
  <head>
    <title>CodeMirror</title>
    <link rel="stylesheet" type="text/css" href="plugin/codemirror/lib/codemirror.css">
  </head>
  <body>
    <textarea class="codemirror-textarea", cols="130" rows="20" style="font-size: 20px"></textarea>

    <form id="preview-form" href="/pages/ruby">
      <textarea class="codemirror-textarea" name="preview-form-comment" id="preview-form-comment"></textarea>
      <br>

      <input type="submit" name="preview-form-submit" id="preview-form-submit" value="submit">
    </form>
    
    <div id="preview-comment"></div>

    <!-- javascript -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/js/default.js"></script>
  </body>
</html>