<h1>Editing Your Lesson</h1>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin)%>
<%= link_to 'Back', lessons_path %>