<iframe frameborder="0" width="100%" height="500px" src="https://codepad.remoteinterview.io/EUYHSGDLXD"></iframe>

<br>

<h1>Below you will find code exercise samples to help you get started.  Create a new post and save your work as you go along</h1>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
 <strong>Body:</strong>
<%= markdown @lesson.body %> 
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) if logged_in?(:admin) %></br>
<%= link_to 'Back', lessons_path %>

<!-- <br>

<div id="editor">some text</div>
<script src="src/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var editor = editor.setTheme("ace/theme/twilight");
</script> -->