@import "bootstrap";

.ruby_image {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 10px;
}

body {
  padding-top: 10px;
}

.navbar {
  background-image: linear-gradient(to top, #990000 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .nav-link a {
  color: DimGray;
  font-family: 'Rambla', sans-serif;
  }

  .nav-link a {
  color: Black;
  }

  a {
  color: Black;
  font-family: 'Rambla', sans-serif;
  }

  a:hover {
  color: #990000;
  text-decoration: none;
  }
}