<div class="container">
	<h1>Practice Ruby then Copy and Save Your Code:</h1>
	<iframe frameborder="0" width="100%" height="500px" src="https://codepad.remoteinterview.io/EUYHSGDLXD"></iframe>
	<br>
	<%= render 'form', exercise: @exercise %>
	<%= link_to 'Back', exercises_path %>
</div>