<div class="container">
	<h1>Practice Ruby then Copy and Save Your Code:</h1>
	<iframe frameborder="0" width="100%" height="500px" src="https://opalrb.com/try/?code:def%20method%0A%20%20puts%20%22Hello%22%0Aend%0A%0Amethod"></iframe>
	<br>
	<%= render 'form', exercise: @exercise %>
	<%= link_to 'Back', exercises_path %>
</div>